---
---
h2, h3, #redirect {
    text-align: center;
    color: #505a72;
}

#content {
    #holder {
        flex: 1;
    }

    display: flex;
    align-items: center;
    min-height: calc(100% - 223px);

    a {
        color: #35d0ba;
        text-decoration: none;
    }
}
