---
---

@import "minima";
@import "vars";

body {
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: square;

  ul {
    list-style-type: disc;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: normal;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  margin-top: 50px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  line-height: 1.08;
  margin-top: 50px;
}

h3 {
  font-size: 18px;
  line-height: 1.44;
  margin-top: 30px;
}

select {
  border-radius: 5px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dcdcde;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #505a72;
  font-family: $body-font;
  font-size: 14px;
  background-image: url(/images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 12px 6px;
  padding: 0 30px 0 15px;

  &::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

a {
  color: #3bbdc4;

  &:visited {
    color: #3bbdc4;
  }
}

p {
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.79;
}

code {
  font-family: monospace;
  font-size: 14px;
  color: #3bbdc4;
  background-color: #f3f5fa;
  border-radius: 10px;
}

.highlighter-rouge .highlight {
  background-color: #f3f5fa;
  font-size: 14px;
  border: none;
}

pre > code {
  background-color: #f3f5fa;
}

.page {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $page-padding 30px;
  min-height: calc(100% - 338px);
  color: #505a72;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media (min-width: $md-width) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media (max-width: $sm-width) {
    padding-left: $page-padding-small;
    padding-right: $page-padding-small;
  }

  .menu-open & {
    display: none;
  }
}

#docs-header {
  background-color: #f3f5fa;
  color: #505a72;

  .menu-open & {
    display: none;
  }

  & > div {
    max-width: $page-width;
    margin: 0 auto;
    padding: 37px $page-padding 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @media (max-width: $sm-width) {
      padding-left: $page-padding-small;
      padding-right: $page-padding-small;
    }
  }

  h1 {
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    display: inline-block;
    font-weight: normal;
  }

  .versions {
    float: right;
    position: relative;

    @media (max-width: $sm-width) {
      float: none;
      margin-top: 20px;
    }

    &.latest > div {
      display: inline-block;
      position: relative;

      & > div::after {
        content: "Latest";
        font-family: $body-font;
        font-size: 14px;
        line-height: 1.79;
        color: #505a72;
        border-radius: 12px;
        background-color: #3bbdc4;
        color: white;
        display: inline-block;
        padding: 0 15px;
        height: 24px;
        right: 37px;
        top: 8px;
        position: absolute;
        pointer-events: none;
      }
    }

    &.latest select {
      padding-right: 95px;
    }
  }
}

.docs-menu {
  min-width: 260px;
  padding-right: 30px;

  @media (max-width: $md-width) {
    padding-right: 0;
  }

  & > ul {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 30px;
    margin-bottom: 20px;

    & > li {
      -webkit-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
      overflow: hidden;
      height: 59px;

      &.open {
        height: auto;
      }
    }
  }

  ul {
    margin-left: 0;
    list-style: none;
    min-width: 0;

    li {
      padding-left: 0px;
      font-family: $body-font;
      font-size: 18px;
      line-height: 3.22;
      color: #505a72;
      border-bottom: 1px solid #d8d8d8;

      &.current {
        color: #3bbdc4;
      }

      &.childCurrent > a {
        color: #3bbdc4;
      }

      a {
        color: #505a72;
        display: inline-block;
      }

      & > a.arrow {
        float: right;
        margin-top: 18px;
        margin-right: 8px;
        cursor: pointer;
        width: 20px;
        height: 20px;

        div {
          background-image: url(/images/arrow-down.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
          -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: -webkit-transform 0.3s ease-in-out;
          -o-transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;
        }
      }

      &.open > a.arrow div {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }

      ul {
        margin-bottom: 16px;
      }

      li {
        font-size: 14px;
        line-height: 2.5;
        border: none;
      }
    }
  }
}

#edit {
  float: right;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.79;
  color: #3bbdc4;
  margin-top: 55px;

  @media (max-width: $md-width) {
    float: none;
  }

  img {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
  }
}

.docs-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}

.alert {
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 100px;
  border-radius: 4px;
  border: 1px solid #000;

  &.master {
    border-color: #f44336;
    color: #f44336;
  }

  &.old {
    border-color: #2196f3;
    color: #2196f3;
  }
}
