---
---

@import "vars";

#content {
  text-align: center;
  color: $dark-text;
}

#jumbotron {
  background-color: $dark-background-color;
  color: white;
  padding: 0 0 55px 0;

  .main {
    padding-left: 30px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h1 {
      line-height: 1.2;
      font-weight: 900;
    }

    p {
      opacity: 0.75;
      margin-bottom: 25px;
    }
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    div,
    img {
      width: 100%;
    }
  }
}

#providers {
  background-color: $darkish-background-color;
  padding-bottom: 30px;

  h2 {
    margin-top: 55px;
    margin-bottom: 30px;
    font-weight: 900;    
  }

  p {
    margin-bottom: 50px;
  }

  a {
    font-size: 14px;
    color: $dark-blue;
    text-decoration: none;

    &:visited {
      color: $dark-blue;
    }
  }

  img {
    vertical-align: middle;
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $md-width) {
      margin: 40px auto 0;
      display: block;

      &:last-child {
        margin: 20px auto;
      }
    }
  }

  .provider-wrap {
    min-height: 65px;
    position: relative;

    @media (max-width: $md-width) {
      margin: 15px 0;      
    }

    &:last-child {
      @media (max-width: $md-width) {
        margin: 35px 0;      
      }
    }
  }

  .provider-image {
    max-width: 90%;
  }

  .coming-soon {
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
      margin-right: 5px;
    }

    span {
      color: $red;
    }
  }
}

#blueprint {
  background: $dark-background-color;
  color: $white;
  padding: 45px 0;

  .blueprint-header {
    margin-bottom: 35px;
  }
  
  .blueprint-item {
    text-align: left;
    padding-bottom: 25px;
  }

  .blueprint-bullet img {
    margin-top: 5px;
  }

  h3 {
    margin-top: 0;
  }

  p {
    font-size: 16px;
  }

  .blueprint-img {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 95%;
      width: auto;
      max-height: 720px;
      height: auto;
    }

    @media (max-width: $md-width) {
      display: none;
    }
  }
}

#use-cases {
  background-color: $white;
  color: $dark-blue-text;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 65px;

  .grid {
    align-items: center;

    & > div {
      padding-left: 16px;
    }
  }

  .img {
    padding-left: 0;
    padding-right: 16px;
    img {
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 35px;
    line-height: 1.25;
    font-weight: 900;
  }

  p {
    img {
      display: block;
      margin-top: 30px;
    }
  }
}

#testimonials {
  padding-top: 100px;

  .testimonial {
    padding: 0 58px 100px;
    text-align: left;

    @media (max-width: $sm-width) {
      padding: 0 38px 75px;
    }

    h3 {
      line-height: 1.67;
      margin-bottom: 35px;
      font-weight: 900;
    }

    p {
      font-size: 14px;
      line-height: 2.14;
      margin-bottom: 20px;
    }

    .title,
    .name {
      font-size: 14px;
      line-height: 2.14;
      font-family: $body-font;
    }

    .name {
      font-weight: 900;
      font-family: $header-font;
    }

    .exec-img {
      display: inline-block;
    }

    .exec-info {
      vertical-align: text-bottom;
      display: inline-block;
      margin-left: 15px;
    }
  }
}

#community {
  background-color: $dark-background-color;
  color: white;

  h2 {
    color: $blue;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: 900;
  }

  p {
    font-size: 24px;

    &.join {
      font-size: 18px;
      line-height: 1.39;
      margin-top: 63px;
      margin-bottom: 70px;

      a {
        color: $blue;
        &:visited {
          color: $blue;
        }
      }
    }
  }

  .tile {
    text-align: left;
    color: $dark-text;

    & > div {
      margin: 35px auto 0;
      background-color: white;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6);
      height: calc(100% - 20px);
      max-width: 270px;

      @media (max-width: $sm-width) {
        margin-top: 20px;
      }

      .topbar {
        height: 10px;
      }

      &.slack .topbar {
        background-color: $dark-blue;
      }

      &.github .topbar {
        background-color: $red;
      }

      &.youtube .topbar {
        background-color: $orange;
      }

      &.podcast .topbar {
        background-color: $brown;
      }

      .content {
        padding: 60px 40px;

        h3 {
          font-size: 25px;
          font-weight: normal;
          margin: 15px 0;
        }

        p {
          font-size: 14px;
          line-height: 1.79;
          margin-bottom: 30px;
        }
      }
    }
  }
}
