---
---

@import "vars";

#content {
  text-align: center;
  color: $dark-text;
}

#jumbotron {
  background-color: $dark-background-color;
  color: white;
  padding: 0 0 55px 0;

  .main {
    padding-left: 30px;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    h1 {
      line-height: 1.2;
      font-weight: 900;

      @media (max-width: $md-width) {
        font-size: 36px;
      }
    }

    p {
      opacity: 0.75;
      margin-bottom: 25px;
    }

    button {
      background-color: #3bbdc4;
      border-color: #3bbdc4;
    }
  }

  .hero {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    div,
    img {
      width: 100%;
    }
  }
}

#communityDay {
  background-color: #365063;
  color: #FFF;
  padding: 40px 0;
  text-align: left;
  position: relative;

  img {
    max-width: 100%;
  }

  p:nth-of-type(1) {
    font-family: Avenir;
    font-weight: 900;
  }

  .bottom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: url(../images/border.svg);
  }
}

#providers {
  background-color: $darkish-background-color;
  padding-bottom: 30px;

  .providers-row {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-evenly;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-evenly;
    flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;

    @media (max-width: $md-width) {
      flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
    }
  }

  h2 {
    margin-top: 55px;
    margin-bottom: 30px;
    font-weight: 900;    
  }

  p {
    margin-bottom: 50px;
  }

  a {
    font-size: 14px;
    color: $dark-blue;
    text-decoration: none;

    &:visited {
      color: $dark-blue;
    }
  }

  img {
    display: block;
    margin: 15px auto;
  }

  .provider-wrap {
    min-height: 65px;
    position: relative;

    @media (max-width: $md-width) {
      margin: 15px 0;      
    }

    &:last-child {
      @media (max-width: $md-width) {
        margin: 35px 0;      
      }
    }
  }

  .provider-image {
    max-width: 90%;
  }

  .coming-soon {
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
      margin-right: 5px;
    }

    span {
      color: $red;
    }
  }
}

#blueprint {
  background: $dark-background-color;
  color: $white;
  padding: 45px 0 300px;

  @media (max-width: $md-width) {
    padding: 45px 0 220px;
  }  

  .blueprint-header {
    margin-bottom: 35px;
  }
  
  .blueprint-item {
    text-align: left;
    padding-bottom: 25px;
  }

  .blueprint-bullet img {
    margin-top: 5px;
  }

  h3 {
    margin-top: 0;
  }

  p {
    font-size: 16px;
  }

  .blueprint-img {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
        align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;

    img {
      max-width: 95%;
      width: auto;
      max-height: 720px;
      height: auto;
    }

    @media (max-width: $md-width) {
      display: none;
    }
  }
}

.use-cases {
  background-color: $white;
  color: $dark-blue-text;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 65px;

  a {
    color: #3bbdc4;
  }

  .grid {
    -ms-flex-align: center;
        align-items: center;

    & > div {
      padding-left: 16px;
    }
  }

  .img {
    padding-left: 0;
    padding-right: 16px;
    img {
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 35px;
    line-height: 1.25;
    font-weight: 900;
  }

  p {
    img {
      display: block;
      margin-top: 30px;
    }
  }
}

#useCases1 {
 padding-bottom: 0;
 overflow: initial;

 .abs-img-wrap {
   position: relative;
   height: 526px;

   @media (max-width: $md-width) {
     height: auto;
   }

   img {
     position: absolute;
     top: 40px;

     @media (max-width: $md-width) {
       position: static;
       top: auto;
     }
   }
 }
}

#nativeCommunity {
  padding-bottom: 135px;

  h2 {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 65px;
  }

  .community-row {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-evenly;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-evenly;
    flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;

    img {
      @media (max-width: $md-width) {
        margin: 15px 0;
      }
    }

    @media (max-width: $md-width) {
      flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
    }
  }
}

#content > #openSource, #content > #useCases1 {
  overflow: initial;
}

#openSource {
  position: relative;
  padding: 170px 0 100px;

  @media (max-width: $sm-width) {
    padding: 120px 0 100px;
  }

  img {
    position: absolute;
    top: -40%;
    margin-left: -203px;
    left: 50%;

    @media (max-width: $sm-width) {
      top: -25%;
      margin-left: -150px;
      width: 300px;
    }
  }

  button {
    background-color: #3bbdc4;
    border-color: #3bbdc4;
  }
}

#community {
  background-color: $dark-background-color;
  color: white;

  h2 {
    color: $blue;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: 900;
  }

  p {
    font-size: 24px;

    &.join {
      font-size: 18px;
      line-height: 1.39;
      margin-top: 63px;
      margin-bottom: 70px;

      a {
        color: $blue;
        &:visited {
          color: $blue;
        }
      }
    }
  }

  .tile {
    text-align: left;
    color: $dark-text;

    & > div {
      margin: 35px auto 0;
      background-color: white;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6);
      height: calc(100% - 20px);
      max-width: 270px;

      @media (max-width: $sm-width) {
        margin-top: 20px;
      }

      .topbar {
        height: 10px;
      }

      &.slack .topbar {
        background-color: $dark-blue;
      }

      &.github .topbar {
        background-color: $red;
      }

      &.youtube .topbar {
        background-color: $orange;
      }

      &.podcast .topbar {
        background-color: $brown;
      }

      .content {
        padding: 60px 40px;

        h3 {
          font-size: 25px;
          font-weight: normal;
          margin: 15px 0;
        }

        p {
          font-size: 14px;
          line-height: 1.79;
          margin-bottom: 30px;
        }
      }
    }
  }
}
