---
---

@import "vars";

#content {
  text-align: center;
  color: $dark-text;
}

#jumbotron {
  background-color: $dark-background-color;
  color: white;
  padding: 0 0 55px 0;

  .main {
    padding-left: 30px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h1 {
      line-height: 1.2;
      font-weight: 900;
    }

    p {
      opacity: 0.75;
      margin-bottom: 25px;
    }
  }

  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    div,
    img {
      width: 100%;
    }
  }
}

#kinds {
  text-align: center;

  h2 {
    margin-top: 100px;
    font-weight: 900;
  }

  a {
    font-size: 14px;
    color: $dark-blue;
    text-decoration: none;

    &:visited {
      color: $dark-blue;
    }
  }

  p {
    margin: 25px 0;
  }

  .img {
    margin-top: 0;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .specific-kind {
    margin-top: 10px;
  }

  .footer {
    p {
      font-size: 14px;
      margin-bottom: 30px;

      &:first-child {
        margin-top: 0;
      }
    }    
  }
}

#providers {
  padding-bottom: 90px;

  h2 {
    margin-top: 55px;
    margin-bottom: 30px;
    font-weight: 900;    
  }

  p {
    margin-bottom: 50px;
  }

  .provider-wrap {
    min-height: 65px;
    position: relative;

    @media (max-width: $md-width) {
      margin: 15px 0;      
    }

    &:last-child {
      @media (max-width: $md-width) {
        margin: 35px 0;      
      }
    }
  }

  .provider-image {
    max-width: 90%;
  }

  .coming-soon {
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
      margin-right: 5px;
    }

    span {
      color: $red;
    }
  }
}

#features {
  background-color: $light-background-color;
  padding-bottom: 90px;

  h2 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: 900;
  }

  p {
    font-size: 22px;
    line-height: 34px;
    margin: 25px 0;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .feature {
    padding: 0 45px;

    @media (max-width: $sm-width) {
      padding: 0;
    }

    p {
      font-size: 16px;
      line-height: 1.56;
      margin-bottom: 20px;
    }
  }
}

#use-cases {
  background-color: $red;
  color: white;
  text-align: left;
  padding-top: 80px;
  padding-bottom: 65px;

  .grid {
    align-items: center;

    & > div {
      padding-left: 16px;
    }
  }

  .img {
    padding-left: 0;
    padding-right: 16px;
    img {
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 35px;
    line-height: 1.25;
    font-weight: 900;
  }

  p {
    img {
      display: block;
      margin-top: 30px;
    }
  }
}

#testimonials {
  padding-top: 50px;
  padding-bottom: 100px;

  .testimonial {
    padding: 0 58px;
    text-align: left;

    @media (max-width: $sm-width) {
      padding: 0 38px;
    }

    h3 {
      line-height: 1.67;
      margin-top: 50px;
      margin-bottom: 35px;
      font-weight: 900;
    }

    p {
      font-size: 14px;
      line-height: 2.14;
      margin-bottom: 20px;
    }

    .title,
    .name {
      font-size: 14px;
      line-height: 2.14;
      font-family: $body-font;
    }

    .name {
      font-weight: 900;
      font-family: $header-font;
    }

    .signature img {
      margin-top: 20px;
    }
  }
}

#community {
  background-color: $dark-background-color;
  color: white;

  h2 {
    color: $blue;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: 900;
  }

  p {
    font-size: 24px;

    &.join {
      font-size: 18px;
      line-height: 1.39;
      margin-top: 63px;
      margin-bottom: 70px;

      a {
        color: $blue;
        &:visited {
          color: $blue;
        }
      }
    }
  }

  .tile {
    text-align: left;
    color: $dark-text;

    & > div {
      margin: 35px auto 0;
      background-color: white;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6);
      height: calc(100% - 20px);
      max-width: 270px;

      @media (max-width: $sm-width) {
        margin-top: 20px;
      }

      .topbar {
        height: 10px;
      }

      &.slack .topbar {
        background-color: $dark-blue;
      }

      &.github .topbar {
        background-color: $red;
      }

      &.youtube .topbar {
        background-color: $orange;
      }

      &.podcast .topbar {
        background-color: $brown;
      }

      .content {
        padding: 60px 40px;

        h3 {
          font-size: 25px;
          font-weight: normal;
          margin: 15px 0;
        }

        p {
          font-size: 14px;
          line-height: 1.79;
          margin-bottom: 30px;
        }
      }
    }
  }
}
