<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=1.0">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=1.0">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=1.0">
<link rel="manifest" href="/favicons/site.webmanifest?v=1.0">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=1.0" color="#5bbad5">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=1.0">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">