<div id="footer">
  <div class="footer-main">
    <div class="main">
      <div class="logo"><img src="{{ "/images/logo.svg" | relative_url }}" /></div>
    </div>
    <div class="links sm-hidden">
      <a href="{{twitterLink}}">Twitter</a>
      <a href="{{latestDocs}}">Documentation</a>
      <a href="{{githubLink}}">GitHub</a>
      <a href="{{slackLink}}">Slack Channel</a>
      <a href="{{youtubeLink}}">YouTube</a>
      <a href="{{forumLink}}">Forum</a>
    </div>
  </div>
  <div class="lf-copyright">
    <p>
      &#169; Crossplane Authors {{ site.time | date: '%Y' }}. Documentation distributed under
      <a href="https://creativecommons.org/licenses/by/4.0">CC-BY-4.0</a>.
    </p>
    <p>
      &#169; {{ site.time | date: '%Y' }} The Linux Foundation. All rights reserved. The Linux Foundation has
      registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our
      <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage</a> page.
    </p>
  </div>
  {% if page.layout == 'docs' %}
    <script src="{{ "/js/anchor.js" | relative_url }}"></script>
    <script>
      anchors.options = {
        placement: 'right',
        icon: '#',
      }

      document.addEventListener('DOMContentLoaded', function(event) {
        anchors.add('.docs-content h1, .docs-content h2, .docs-content h3, .docs-content h4, .docs-content h5, .docs-content h6');
      });
    </script>
  {% endif %}
</div>
