<div id="topBanner">
  <div>
    <span>🎉 Crossplane Community Day Europe '21 Recap — read the
      <a href="https://blog.upbound.io/crossplane-community-day-europe-2021-recap/">blog</a>
    </span>
  </div>
  <style>
    #header .hamburger-controls {
      top: 135px !important;
      z-index: 10;
    }

    @media (max-width: 48em) {
      #header .links {
        top: 125px !important;
      }
    }
  </style>
</div>
<div id="header">
  <div>
    <div class="logo">
      <a href="{{ "/" | relative_url }}"><img src="{{ "/images/logo.svg" | relative_url }}"/></a>
    </div>
    <div
      class="hamburger-controls"
      onclick="if (document.body.classList.contains('menu-open')) { document.body.classList.remove('menu-open') } else { document.body.classList.add('menu-open') }; return false;"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="links">
      <li>
        <a href="{{githubLink}}">
          <span class="md-hidden">Get Started on</span> GitHub
        </a>
      </li>
      <li>
        <a href="{{latestDocs}}">Documentation</a>
      </li>
      <li>
        <a href="{{slackLink}}">Slack <span class="md-hidden">Channel</span></a>
      </li>
      <li>
        <a href="{{blogLink}}">Blog</a>
      </li>
      <li>
        <a href="{{twitterLink}}">Twitter</a>
      </li>
    </ul>
  </div>
</div>
