{{ partialCached "head/doctype-meta.html" . }}

{{- block "no-robots" . -}}
  {{- if ne .Page.Params.version .Site.Params.latest -}}
    <!-- Do not index old documentation -->
    <meta name="robots" content="noindex">
  {{- end -}}
{{- end -}}

<title>
    {{- block "title" . -}}
      {{- .Page.Title -}} | Crossplane Documentation
    {{- end -}}
</title>

{{- partialCached "head/twitter.html" . -}}

{{- partialCached "head/favicon.html" . -}}

{{- partialCached "head/css-common.html" . -}}

{{- block "page-style" . -}}
  {{- partialCached "head/docs-style-js.html" . -}}
{{- end -}}

</head>

  <body>
    {{ partialCached "top-nav.html" .  }}

    {{- block "content" . -}}
    {{- end -}}

    {{ if .Page.Params.Version -}}
      {{ partial "docs/js-footer.html" . }}
      <script src="{{ "/js/anchor.js" | absURL }}"></script>
      <script>
        anchors.options = {
          placement: 'right',
          icon: '#',
        }

        document.addEventListener('DOMContentLoaded', function(event) {
          anchors.add('.docs-content h1, .docs-content h2, .docs-content h3, .docs-content h4, .docs-content h5, .docs-content h6');
        });
      </script>
    {{ end }}

    {{ partialCached "footer.html" .}}

    {{ partialCached "google-analytics.html" . }}
    {{ partialCached "hubspot.html" . }}

  </body>
</html>