{{ .Content }}

<div class="crds">

    <div class="row crd-header-row" id="crd-header-row">
        <div class="col sortable" onclick="sortIt('kind')"><span data-sort="kind">Kind</span><span class="kind-sort sort-icon sort-icon-down d-none"></span><span class="kind-sort sort-icon sort-icon-up d-none"></span></div>
        <div class="col sortable" onclick="sortIt('group')"><span data-sort="group">Group</span><span class="group-sort sort-icon sort-icon-down d-none"></span><span class="group-sort sort-icon sort-icon-up d-none"></span></div>
        <div class="col">
            <div class="row">
                <div class="col sortable" onclick="sortIt('version')"><span data-sort="version" >Version</span><span class="version-sort sort-icon sort-icon-down d-none"></span><span class="version-sort sort-icon sort-icon-up d-none"></span></div>
                <div class="col expand-link" onclick="showAll('.collapse')"><a href="#">Expand All</a></div>
                <div class="col collapse-link" onclick="hideAll('.collapse')"><a href="#">Collapse All</a></div>
            </div>
        </div>
    </div>

    <div id="crd-rows-container">
    {{/* Each level is a map with the key being the directory name */}}
    {{/* $Site.Data.crds /$version/crds/yaml */}}
    {{ range  $filename,$contents := index $.Site.Data.crds (printf "v%s" .Page.Params.version) "crds" "yaml" }}
        {{ $kind := .spec.names.kind }}
        {{ $group := .spec.group }}
        {{ $version := "" }}
        {{ $description := "" }}
        {{ $schemaScratch := newScratch }}
        {{ $schemaWithStatus := dict }}

        {{/* Iterate over each version and find the "storage: true" version */}}
        {{ range  .spec.versions }}
            {{ if index . "storage" }}
                {{ $version = .name }}

                {{ $schemaScratch.Set "oAPI" (index . "schema" "openAPIV3Schema" "properties") }}
                {{ $description = (index . "schema" "openAPIV3Schema" "description") }}

                {{ $schemaScratch.DeleteInMap "oAPI" "apiVersion" }}
                {{ $schemaScratch.DeleteInMap "oAPI" "kind" }}
                {{ $schemaScratch.DeleteInMap "oAPI" "metadata" }}
                {{ $schemaScratch.DeleteInMap "oAPI" "description" }}
                {{ $schemaWithStatus = $schemaScratch.Get "oAPI" }}
            {{ end }}
        {{ end }}

            {{/* the crd-root-row is a top level CRD row */}}
            <div class="crd-root-row row align-middle" data-kind="{{ $kind }}" data-group="{{ $group }}-{{ $kind}}" data-version="{{ $version }}-{{ $kind }}">
                <div class="col align-middle">
                    {{/* Plus/Minus Button */}}
                    <button class="expand-button collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{$kind}}" type="button" aria-expanded="false" aria-controls="{{$kind}}"></button>

                    {{/* CRD name text */}}
                    <button class="crd-root collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{$kind}}" type="button" aria-expanded="false" aria-controls="{{$kind}}">
                        <span class="align-middle {{ $kind }}">{{ $kind }}</span>
                    </button>
                </div>
                <div class="col">{{ $group }}</div>
                <div class="col align-middle">
                    <div class="row align-middle">
                        <div class="col align-middle pt-0">{{ $version }}</div>
                        <div class="col align-middle pt-0 expand-link" onclick="showAll('.{{ $kind }}')"><a href="#">Expand All</a></div>
                        <div class="col align-middle pt-0 collapse-link" onclick="hideAll('.{{ $kind }}')"><a href="#">Collapse All</a></div>
                    </div>
                </div>

                {{/* The container to show/hide with information related to the CRD */}}
                <div class="collapse crd-expand {{$kind}}" id="{{$kind}}">
                    <div class="description">
                        {{ $description }}
                    </div>
                    {{ range $key,$schema := $schemaWithStatus }}
                        <div class="crd-children">
                            {{ template "buildCRD" (dict "key" $key "schema" $schema "isFirst" true "kind" $kind "requiredFields" .required "rootKind" $kind) }}
                        </div>
                    {{ end }}
                </div>
            </div>
    {{ end }}
    </div>


</div>


{{ define "buildCRD" }}

    {{/* The first field (spec) has a different schema compared to the child nodes */}}
    {{ if .isFirst }}
        {{ $elemID := (printf "%s-%s" .kind .key) }}

        {{ $dataTypeStyle := .schema.type }}
        {{ $dataType := .schema.type }}
        {{ $description := .schema.description }}
        {{ $properties := .schema.properties }}
        {{ $required := .schema.required }}

        {{ if eq .schema.type "array" }}
            {{ if .schema.items }}
                {{ $dataType = (printf "[ ]%s" .schema.items.type) }}
                {{ $dataTypeStyle = .schema.items.type }}
                {{ $description = .schema.items.description }}
                {{ $properties = .schema.items.properties }}
                {{ $required = .schema.items.required }}
            {{ else }}
                {{ $dataType = (printf "[ ]%s" .schema.type) }}
            {{ end }}
        {{ end }}

        <div class="crd-child-container align-middle">
            {{/* Plus/Minus Button */}}
            <button class="expand-button collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{ $elemID }}" type="button" aria-expanded="false" aria-controls="{{ $elemID }}"></button>

            {{/* CRD name text */}}
            <button class="crd-root collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{ $elemID }}" type="button" aria-expanded="false" aria-controls="{{ $elemID }}">
                <div>
                    <span class="kind align-middle">{{ .key }}</span>
                    <span class="dataType {{ $dataTypeStyle }} align-middle">{{ $dataType }}</span>
                </div>
            </button>
            <span class="kind-link" data-clipboard-text="#{{$elemID}}"><a href="#{{ $elemID }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg></a></span>
            {{/* The container to show/hide with information related to the CRD */}}
            <div class="collapse crd-expand {{.rootKind}}" id="{{ $elemID }}">
                <div class="description">
                    {{ $description | markdownify }}
                </div>
                <div class="crd-children align-middle">
                    {{ template "buildCRD" (dict "schema" $properties "isFirst" false "kind" (printf "%s-spec" .kind) "requiredFields" $required "rootKind" .rootKind) }}
                </div>
            </div>
        </div>

    {{ else }}

        {{/* Iterate over all child CRD elements */}}
        {{ range $key,$contents := .schema }}

            {{ $dataType := $contents.type }}
            {{ $dataTypeStyle := $dataType }}
            {{ $elemID := (printf "%s-%s" $.kind $key) }}

            {{ $dataTypeStyle := $contents.type }}
            {{ $dataType := $contents.type }}
            {{ $description := $contents.description }}
            {{ $properties := $contents.properties }}
            {{ $required := $.requiredFields }}

            {{ if eq $contents.type "array" }}
                {{ if $contents.items }}
                    {{ $dataType = (printf "[ ]%s" $contents.items.type) }}
                    {{ $dataTypeStyle = $contents.items.type }}

                    {{/* Some "items" don't have nested elements. */}}
                    {{/* For example CompositeResourceDefinitions.Spec.ClaimNames.categories */}}
                    {{ if $contents.items.description }}
                        {{ $description = $contents.items.description }}
                    {{ end }}

                    {{ if $contents.items.properties }}
                        {{ $properties = $contents.items.properties }}
                    {{ end }}

                    {{ if $contents.items.required}}
                        {{ $required = $contents.items.required }}
                    {{ end }}

                {{ else }}
                    {{ $dataType = (printf "[ ]%s" $contents.type) }}
                {{ end }}
            {{ end }}

            <div class="crd-child-container align-middle">
                {{/* Plus/Minus Button */}}
                <button class="expand-button collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{$elemID}}" type="button" aria-expanded="false" aria-controls="{{$elemID}}"></button>

                {{/* CRD name text */}}
                <button class="crd-root collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{$elemID}}" type="button" aria-expanded="false" aria-controls="{{$elemID}}">
                    <div>
                        <span class="kind align-middle">{{ $key }}</span>
                        <span class="dataType {{ $dataTypeStyle }} align-middle">{{ $dataType }}</span>
                        {{if in $.requiredFields $key}}<span class="dataType required align-middle">required</span>{{ end }}
                    </div>
                </button>
                <span class="kind-link" data-clipboard-text="#{{$elemID}}"><a href="#{{$elemID}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg></a></span>

                {{/* The container to show/hide with information related to the CRD */}}
                <div class="collapse crd-expand {{$.rootKind}}" id="{{$elemID}}">
                    <div class="description">
                        {{$description | markdownify }}
                    </div>
                    {{ if $properties }}
                        <div class="crd-children align-middle">
                            {{ template "buildCRD" (dict "schema" $properties "requiredFields" $required "kind" $elemID "rootKind" $.rootKind) }}
                        </div>
                    {{ end }}
                </div>
            </div>
        {{ end }} {{/* range $key,$contents */}}
    {{ end }} {{/* if/else */}}
{{ end }} {{/* define */}}

<script>

    function showAll(type){
        var elems = document.querySelectorAll(type);
        var index = 0, length = elems.length;
        for ( ; index < length; index++) {
            elems[index].classList.add("show");
        }
    }

    function hideAll(type){
        var elems = document.querySelectorAll(type);
        var index = 0, length = elems.length;
        for ( ; index < length; index++) {
            elems[index].classList.remove("show");
        }
    }

    function clickAll(selector){
        var elems = document.querySelectorAll(selector);
        var index = 0, length = elems.length;
        for ( ; index < length; index++) {
            elems[index].click();
        }
    }

    function sortIt(sortOn="kind"){


        var titleElements = document.getElementsByClassName("sortable");
        var reverseSort = false;

        for(var i = 0; i < titleElements.length; i++){
            if(titleElements[i].children[0].dataset.sort === sortOn){

                titleElements[i].classList.add("sorted");

                // If we can't see the first element then sort natural
                if(titleElements[i].children[1].classList.contains("d-none")){
                    titleElements[i].children[1].classList.remove("d-none");
                    titleElements[i].children[2].classList.add("d-none");
                }
                // Otherwise, the first element is visible and the second isn't.
                // Make it visible and reverse sort
                else if(titleElements[i].children[2].classList.contains("d-none")){
                    titleElements[i].children[2].classList.remove("d-none");
                    titleElements[i].children[1].classList.add("d-none");
                    reverseSort = true
                }
            }
            else {
                titleElements[i].classList.remove("sorted");
                titleElements[i].children[1].classList.add("d-none");
                titleElements[i].children[2].classList.add("d-none");
            }


        }

        // element sorting from https://jsfiddle.net/fkling/nXkDp/
        var toSort = document.getElementById('crd-rows-container').children;
        toSort = Array.prototype.slice.call(toSort, 0);

        toSort.sort(function(a, b) {
            var aord = a.dataset[sortOn];
            var bord = b.dataset[sortOn];

            if(reverseSort){
                return (bord.localeCompare(aord));
            }
            else {
                return (aord.localeCompare(bord));
            }
        });

        var parent = document.getElementById('crd-rows-container');
        parent.innerHTML = "";

        for(var i = 0, l = toSort.length; i < l; i++) {
            parent.appendChild(toSort[i]);
        }

    }

    document.addEventListener("DOMContentLoaded", function(event){
        sortIt();

        var hash = window.location.hash.replace("#","");


        // A hash on this page means they linked directly to an API object
        if(hash.length > 0){

            var hashes = hash.split("-");
            var lastHash = "";
            var queryString = "";

            // set an event listener on the last element to scroll it into view when expanded.
            lastElement = document.getElementById(hash);
            lastElement.addEventListener('shown.bs.collapse', event => {
                var top = lastElement.offsetTop;
                window.scrollTo(0, top);
            })

            // loop through the parent elements and click them to expand
            var workingHash = [];
            for(index in hashes){
                workingHash.push(hashes[index]);
                var queryString = "[data-bs-target='#" + workingHash.join("-") + "']";
                var elem = document.querySelector(queryString);
                elem.click();
            }
        }
    })

</script>