<header class="navbar docs-navbar navbar-expand-lg sticky-top py-0 align-items-center">

  <div class="docs-left-toggle">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-label="Toggle docs content">
      {{ partialCached "icons/hamburger.svg" (dict "class" "" "width" "1.5rem" "height" "1.5rem") }}
      <span class="d-none fs-6 pe-1">Browse</span>
    </button>
  </div>

  <div class="docs-right-toggle order-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle Crossplane navigation">
      <svg class="bi white" aria-hidden="true"><use xlink:href="#three-dots"></use></svg>
    </button>
  </div>

  <div class="navbar-brand">
    <a href="https://www.crossplane.io" aria-label="Crossplane">
      <img
      src="/img/crossplane-logo.svg"
      alt="Crossplane logo"
      srcset="/img/crossplane-logo.svg 1x, /img/crossplane-logo.svg 2x"
      width="152px"
      decoding="async"
      data-nimg="future"
      loading="lazy">
    </a>
  </div>

  <div class="w-100 offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">

    <div class="offcanvas-body p-0">

      <div class="offcanvas-header p-0">
        <div class="navbar-brand">
          <a href="https://www.crossplane.io" aria-label="Crossplane">
            <img
            src="/img/crossplane-logo.svg"
            alt="Crossplane logo"
            srcset="/img/crossplane-logo.svg 1x, /img/crossplane-logo.svg 2x"
            width="152px"
            decoding="async"
            data-nimg="future"
            loading="lazy">
          </a>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#offcanvas"></button>
      </div>


      <div class="navbar-center-links collapse navbar-collapse justify-content-evenly show">
        <ul class="navbar-nav align-items-center ">
          <li class="nav-item">
            <a class="navbar-link" href="https://www.crossplane.io/why-control-planes">Why Control Planes?</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link"  aria-current="page" href="https://docs.crossplane.io">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link"  href="https://www.crossplane.io/community">Community</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link"  href="https://blog.crossplane.io/">Blog</a>
          </li>
        </ul>
      </div>

      <div class="navbar-icons flex-shrink-1 show">
          <ul class="navbar-nav">
            <li class="nav-item col-xs p-2">
              <a class="navbar-link" href="https://github.com/crossplane" title="Crossplane Github Repository" target="_blank" rel="noopener">
                {{ partialCached "icons/github.svg" .}} <span class="icon-label">Crossplane GitHub</span>
              </a>
            </li>

            <li class="nav-item col-xs p-2">
              <a class="navbar-link" href="https://slack.crossplane.io" title="Join the Crossplane Slack" target="_blank" rel="noopener">
                {{ partialCached "icons/slack.svg" . }} <span class="icon-label">Crossplane Slack</span>
              </a>
            </li>

            <li class="nav-item col-x p-2">
              <div class="vr d-lg-flex mx-lg-2 text-white"></div>
            </li>

            <li class="nav-item col-xs p-2">
              <div class="form-check form-switch color-switcher" >
                <input class="d-flex form-check-input" type="checkbox" id="darkSwitch" />
                <label class="d-flex navbar-link form-check-label" for="darkSwitch">Dark Mode</label>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>

  <!-- Offcanvas section is a duplicate of the standard display.
    It's much easier and more obvious to duplicate the content instead of
    working with a single offcanvas style and modifying the visible elements -->
    <!-- <div class="offcanvas w-100 off canvas-lg offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">

      <div class="offcanvas-header">
          <a href="https://www.crossplane.io" class="offcanvas-title position-relative top-50 start-50 translate-middle" aria-label="Crossplane">
          <img
          src="/img/crossplane-logo.svg"
          alt="Crossplane logo"
          srcset="/img/crossplane-logo.svg 1x, /img/crossplane-logo.svg 2x"
          width="185"
          height="40"
          decoding="async"
          data-nimg="future"
          loading="lazy"></a>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#offcanvas"></button>
      </div>
      <div class="offcanvas-body float-end">
        <div>
          <hr class="d-lg-none text-white-50">
        </div>

        <div class="offcanvas-center-links">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item p-2">
              <a class="navbar-link" href="https://www.crossplane.io/why-control-planes">Why Control Planes?</a>
            </li>
            <li class="nav-item p-2">
              <a class="navbar-link"  aria-current="page" href="https://docs.crossplane.io">Documentation</a>
            </li>
            <li class="nav-item p-2">
              <a class="navbar-link"  href="https://www.crossplane.io/community">Community</a>
            </li>
            <li class="nav-item p-2">
              <a class="navbar-link"  href="https://blog.crossplane.io/">Blog</a>
            </li>
          </ul>
        </div>

        <div>
          <hr class="d-lg-none text-white-50">
        </div>

        <div class="offcanvas-icons">
          <ul class="justify-content-center">
            <li class="p-2">
              <a class="navbar-link d-flex" href="https://github.com/crossplane" title="Crossplane Github Repository" target="_blank" rel="noopener">
                <div class="pe-2">
                  {{ partialCached "icons/github.svg" .}}
                </div>
                <div class="">
                  Crossplane Github
                </div>
              </a>
            </li>

            <li class="col-xs p-2">
              <a class="navbar-link d-flex" href="https://slack.crossplane.io" title="Join the Crossplane Slack" target="_blank" rel="noopener">
                <div class="pe-2">
                  {{ partialCached "icons/slack.svg" . }}
                </div>
                <div>
                  Join the Crossplane Slack
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->

</header>