<div class="bd-callout bd-callout-warning d-flex flex-column w-100">
    <div class="d-flex bd-title fs-6 fw-bold border-bottom border-danger">
        <div class="d-flex pe-3 align-self-center">
            <svg class="bi flex-shrink-0" role="img" aria-label="Warning:"><use xlink:href="#fire"/></svg>
        </div>
        <div class="d-flex">
            {{ if eq .Page.Params.state "alpha"}}
            This is an alpha feature.
            {{ end }}
            {{ if eq .Page.Params.state "beta" }}
            This is a beta feature.
            {{ end }}
        </div>
    </div>
    <div class="bd-content mt-3">
        <p>
            Crossplane may change or drop this feature at any time. <br />
            For more information read the <a href="https://docs.crossplane.io/latest/reference/feature-lifecycle/">Crossplane feature lifecycle</a>.
        </p>
    </div>
</div>
