
<footer class="bd-footer p-5">

  <div class="container text-center">
    <div class="row pb-5 top-row">
      <div class="col-lg img-col">
        <img
        src="/img/crossplane-logo.svg"
        alt="Crossplane logo"
        srcset="/img/crossplane-logo.svg 1x, /img/crossplane-logo.svg 2x"
        width="185"
        height="40"
        decoding="async"
        data-nimg="future"
        loading="lazy"
        class="d-flex crossplane-footer" />
      </div>

      <div class="col-lg links-col d-fill justify-content-evenly ms-5">
        <div class="row">
          <div class="col-lg"><a class="footer-link" target="_blank" href="https://twitter.com/crossplane_io">Twitter</a></div>
          <div class="col-lg"><a class="footer-link" target="_blank" href="https://www.youtube.com/channel/UC19FgzMBMqBro361HbE46Fw">Youtube</a></div>
          <div class="col-lg"><a class="footer-link" target="_blank" href="https://www.youtube.com/playlist?list=PL510POnNVaaYFuK-B_SIUrpIonCtLVOzT">Podcast</a></div>
          <div class="col-lg"><a class="footer-link" target="_blank" href="https://groups.google.com/g/crossplane-dev">Forum</a></div>
        </div>
      </div>
    </div>

    <div class="row pb-5">
      <div class="col-lg copyright-col pe-4 border-end">
        <p class="">
          © Crossplane Authors {{ now.Format "2006"}}. Documentation distributed under
          <a class="" target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>.
        </p>
        <p class="">
          © {{ now.Format "2006"}} The Linux Foundation. All rights reserved.
          The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux
          Foundation, please see our
          <a class="" target="_blank" href="https://www.linuxfoundation.org/legal/trademark-usage">Trademark Usage</a>
          page.
        </p>
      </div>

      <div class="col-lg cncf-col ms-5">
        <a class="d-flex" target="_blank" href="https://www.cncf.io/">
          <img  alt="cncfLogo"
                src="/img/cncf-white.webp"
                width="702"
                height="114"
                decoding="async"
                data-nimg="future"
                loading="lazy"
                class="cncf-footer py-3"
          />
        </a>
        <p class="d-flex">We are a Cloud Native Computing Foundation graduated project.</p>
      </div>
    </div>
  </div>
</footer>
