<!-- this is the ideal manually created button but it breaks the DocSearch javascript -->
<!-- we override almost all style elements of the docSearch and child elements -->
<!-- <div class="search-container d-flex row pt-3 ps-4 docsearch opacity-50" aria-label="Docs navigation">

    <button type="button" class="DocSearch-Button2 badge btn btn-outline-secondary bd-dropdown rounded-pill py-0" data-bs-toggle="modal" data-bs-target="#searchModal">
        <span class="searchLabel align-middle pe-4">Searchthe docs</span></span>
        <span class="search-icon" ><svg class="bi"><use xlink:href="#search"></use></svg></span>
    </button>

</div> -->


<div class="search-container d-flex row pt-3 ps-4 docsearch opacity-50"  data-bs-target="#bdSidebar" data-bs-dismiss="offcanvas" aria-label="Docs navigation">
    <div class="p-0" id="docSearch"></div>
</div>