<script>
  // Try and ensure the color theme is applied as early as possible to prevent "flash of inaccurate color"
(() => {
  var darkThemeSelected =
    localStorage.getItem("darkSwitch") !== null &&
    localStorage.getItem("darkSwitch") === "dark";
  darkThemeSelected
    ? document.documentElement.setAttribute("color-theme", "dark")
    : document.documentElement.removeAttribute("color-theme");
})();
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" media="print" onload="this.media='all'"/>
<link rel="preconnect" href="https://9UXKYX61NK-dsn.algolia.net" crossorigin />

