@import "gridlex-vars";

$lg-width: map-get($gl-mq-list, "lg");
$md-width: map-get($gl-mq-list, "md");
$sm-width: map-get($gl-mq-list, "sm");
$xs-width: map-get($gl-mq-list, "xs");

$page-width: 1280px;
$page-padding: 60px;
$page-padding-small: 30px;
$dark-background-color: #183d54;
$darkish-background-color: #f4f5f7;
$light-background-color: #f3f5fa;
$red: #f3807b;
$blue: #96ffe0;
$dark-blue: #35d0ba;
$orange: #f3c47b;
$brown: #d8ae64;
$white: #FFFFFF;

$dark-text: #505a72;
$muted-text: #c7ced3;
$dark-blue-text: #183d54;

$header-font: "Avenir";
$body-font: "Avenir-Roman";
