{{ $elemID := (printf "%s-%s" .kind .key) }}    {{/* identify the element for collapsables */}}
{{ $contentFields := partial "apiBuilder/getSpecFields" .contents }}
{{ $dataTypeStyle := $contentFields.dataTypeStyle }}
{{ $dataType := $contentFields.dataType }}
{{ $description := $contentFields.description }}
{{ $properties := $contentFields.properties }}
{{ $required := $contentFields.required }}
{{ $enum := false }}


<div class="crd-child-container crd-container align-middle expand-buttons">
    {{/* Plus/Minus Button */}}
    <button class="expand-button collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{ $elemID }}" type="button" aria-expanded="false" aria-controls="{{ $elemID }}"></button>

    {{/* CRD name text */}}
    <button class="crd-root collapsed align-middle" data-bs-toggle="collapse" data-bs-target="#{{ $elemID }}" type="button" aria-expanded="false" aria-controls="{{ $elemID }}">
        <div>
            <span class="kind align-middle">{{ .key }}</span>

                {{/* Check if the type is `enum` or `oneOf`/`allOf` */}}
                {{ $isEnum := partial "apiBuilder/isEnum" .contents }}

                {{ if $isEnum }}
                    {{/* enum fields handle "oneOf" type data lists */}}
                    {{ partial "apiBuilder/enumHandler" .contents }}
                {{ else }}
                    <span class="dataType {{ $dataTypeStyle }} align-middle">{{ $dataType }}</span>
                {{ end }}

            {{if in $required .key}}
                <span class="dataType required align-middle">required</span>
            {{ end }}
        </div>
    </button>

    {{/* Anchor link icon */}}
    <span class="kind-link" data-bs-content="Link Copied!" data-clipboard-text="{{.page.permalink}}#{{$elemID}}">
        <a href="#{{ $elemID }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg></a>
    </span>


    {{/* The container to show/hide with information related to the CRD */}}
    <div class="collapse crd-expand expand-buttons {{.rootKind}}" id="{{ $elemID }}">
        <div class="description bigName-reset">

            {{/* If the `default` value is set inside the CRD, print it */}}
            {{ if isset .contents "default" }}
                <div class="default mb-1">
                    <i>Default: <code>{{.contents.default}}</code></i>
                </div>
            {{ end}}

            {{/* First "description" is the yaml file name. The second one is the key "description" inside the file */}}
            {{ index .descDir .key "description" "description" }}

        </div>
        <div class="crd-children align-middle">
            {{/* Assignments to maintain variable scoping in the 'range' block */}}
            {{ $descDir := .descDir }}
            {{ $key := .key }}

            {{ range $innerKey, $contents := $properties }}

                {{/* If the next element is "items" then we need to look at items.properties instead of .properties */}}
                {{ $innerDescDir := dict }}
                {{ if isset (index $descDir $key) "items" }}
                    {{ $innerDescDir = (index $descDir $key "items" "properties") }}
                {{ else }}
                    {{ $innerDescDir = (index $descDir $key "properties") }}
                {{ end }}

                {{ partial "apiBuilder/processSpec" (dict "key" $innerKey "contents" $contents "page" . "kind" $elemID "required" $required "descDir" $innerDescDir) }}
            {{ end }}
        </div>
    </div>
</div>