@mixin color_theme_light {
  --header-background: #{$main-color};
  --header-font-color: rgba(255,255,255,.85);

  --body-background: #{$body-background};
  --body-font-color: #{$body-font-color};

  --mark-color: #{$mark-color};

  --button-background: #{lighten($main-color, 2)};
  --button-border-color: #{$main-color};

  --link-color: #{$link-color};
  --link-color-visited: #{$link-color-visited};

  --nav-left-color: #{$brightSun};
  --nav-highlight-color: rgba(80,90,114, .1);

  --accent-color: #{$gray-200};
  --accent-color-lite: #{$gray-100};

  --control-icons: #{lighten($body-font-color, 50)};

  --footer-background: #{$second-color};
  --footer-font-color: #{$white};
  --footer-link-color: #{$link-color-footer};
  --footer-link-color-visited: #{$link-color-footer};

  --dropdown-active-background: rgba(80,90,114,0.1);
  --dropdown-active-color: #212529;
  --latest-background:  #{$froly};
  --dropdown-link-color: #212529;
  --active-tab-color: #{$froly};
  --inactive-tab-hover-color: #{$aquarius};
  --nav-tab-background-color: #fff
  --nav-tab-border-color: var(--body-background);

  .dark-mode-dim .gdoc-markdown {
    img {
      filter: none;
    }
  }

  .gdoc-markdown {
    .gdoc-hint,
    .gdoc-props__tag,
    .admonitionblock {
      filter: none;
    }

    .gdoc-hint__title,
    .admonitionblock table td:first-child {
      background-color: scale-color($gray-600, $alpha: -95%);
    }
  }

}

@mixin color_theme_dark {
  --header-background: #{$main-color};
  --header-font-color: #{$white};

  --body-background: #{$body-background-dark};
  --body-font-color: #{$body-font-color-dark};

  --mark-color: #{$mark-color};

  --button-background: #{lighten($main-color, 2)};
  --button-border-color: #{$main-color};

  --link-color: #{$link-color-dark};
  --link-color-visited: #{$link-color-visited-dark};

  --nav-left-color: #{$brightSun};
  --nav-highlight-color: #2e3d52;

  --accent-color: #{darken($body-background-dark, 4)};
  --accent-color-lite: #{darken($body-background-dark, 2)};

  --control-icons: #{lighten($body-font-color, 50)};

  --footer-background: #{$second-color};
  --footer-font-color: #{$white};
  --footer-link-color: #{$link-color-footer};
  --footer-link-color-visited: #{$link-color-footer};

  --dropdown-active-background: rgba(80,90,114,0.1);
  --dropdown-active-color: #212529;
  --latest-background: #{$froly};
  --dropdown-link-color: #212529;
  --active-tab-color: #{$brightSun};
  --inactive-tab-hover-color: #{$aquarius};
  --nav-tab-background-color: var(--body-background);
  --nav-tab-border-color: var(--body-background);
  --bs-dropdown-border-color: #fff;
  --bs-dropdown-bg: var(--body-background);
  --bs-dropdown-color: var(--body-font-color);

  .dark-mode-dim {
    .gdoc-markdown img {
      filter: brightness(0.75) grayscale(0.2);
    }
  }

  .gdoc-markdown {
    .gdoc-hint,
    .gdoc-props__tag,
    .admonitionblock {
      filter: saturate(2.5) brightness(0.85);
    }

    .gdoc-hint__title,
    .admonitionblock table td:first-child {
      background-color: scale-color($gray-600, $alpha: -85%);
    }
  }
  .chroma {
    box-shadow: 0.4px 0.8px 0.8px hsl(0deg, 0%, 0% / 0.49);
  }
}

@mixin code_theme_dark {
  @include chroma_dark;

  --code-background: #{$code-background-dark};
  --code-accent-color: #{darken($code-background-dark, 4)};
  --code-accent-color-lite: #{darken($code-background-dark, 2)};
  --code-font-color: #{$code-font-color-dark};

  --code-copy-background: #{$body-background-dark};
  --code-copy-font-color: #{lighten($body-font-color, 24)};
  --code-copy-border-color: #{lighten($body-font-color, 24)};
  --code-copy-success-color: rgba(0, 200, 83, .5); //#{scale-color(map.get($hint-colors, "ok"), $alpha: -55%)};
}

@mixin code_theme_light {
  @include chroma_light;

  --code-background: #{$code-background-dark};
  --code-accent-color: #{darken($code-background-dark, 4)};
  --code-accent-color-lite: #{darken($code-background-dark, 2)};
  --code-font-color: #414E5D;

  --code-copy-background: #{$body-background-dark};
  --code-copy-font-color: #{lighten($body-font-color, 24)};
  --code-copy-border-color: #{lighten($body-font-color, 24)};
  --code-copy-success-color: rgba(0, 200, 83, .5);

  code:not(pre>code){
    background-color: #{$gray-200};
    color: #{$slate};
  }
}
