@font-face {
  font-family: 'Avenir-Roman';
  src: url("/fonts/Avenir-Roman.eot"); /* IE9 Compat Modes */
  src: url("/fonts/Avenir-Roman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/fonts/Avenir-Roman.woff2") format("woff2"), /* Super Modern Browsers */
       url("/fonts/Avenir-Roman.woff") format("woff"), /* Pretty Modern Browsers */
       url("/fonts/Avenir-Roman.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("/fonts/Avenir-Black.eot"); /* IE9 Compat Modes */
  src: url("/fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/fonts/Avenir-Black.woff2") format("woff2"), /* Super Modern Browsers */
       url("/fonts/Avenir-Black.woff") format("woff"), /* Pretty Modern Browsers */
       url("/fonts/Avenir-Black.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url("/fonts/Consolas.eot"); /* IE9 Compat Modes */
  src: url("/fonts/Consolas.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("/fonts/Consolas.woff2") format("woff2"), /* Super Modern Browsers */
       url("/fonts/Consolas.woff") format("woff"), /* Pretty Modern Browsers */
       url("/fonts/Consolas.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeekdocIcons";
  src: url("fonts/GeekdocIcons.woff2") format("woff2"),
    url("fonts/GeekdocIcons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Avenir-Roman", "Arial", sans-serif;
}

// code,
// .gdoc-error__title {
//   font-family: "Liberation Mono", monospace;
// }

// .gdoc-header {
//   font-family: "Metropolis", sans-serif;
// }
