@use "sass:map";

@import "_defaults";
@import "_color_mode";

// Bootstrap element style overrides

// Color of the "Latest" tag in the dropdown menu
.badge.rounded-pill.latest {
    background-color: var(--latest-background);
}

// Elements in the version dropdown
.dropdown-item {
    color: var(--body-font-color);
}

// Version Dropdown menu
.dropdown-menu {
    background-color: var(--body-background);
    color: var(--body-font-color);
    border-color: lighten($body-font-color, 50);
}

// Override the colors for the version names in the dropdown menu
a.dropdown-item {
    text-decoration: none;
    // &:visited {
    //     color: var(--nav-highlight-color);
    // }
    &:hover {
        background-color: var(--nav-highlight-color);
        color: var(--body-font-color);
    }
}

// Color for the version number drop down being displayed.
.dropdown-item.active {
    background-color: var(--nav-highlight-color);
    color: var(--body-font-color);
}

// Version button default view (no hover)
.btn-outline-secondary{
    color: var(--body-font-color);
}

// Hover on the version menu dropdown
.btn:hover{
    text-decoration: none;
}

// Tabs
.nav-link {
    color: var(--body-font-color);
}


//All
.nav-tabs .nav-item.show .nav-link{
    background-color: var(--nav-tab-background-color);
    //border-bottom-color: var(--nav-tab-border-color);
}

// Active Tab
.nav-tabs .nav-link.active{
    background-color: var(--nav-tab-background-color);
    color: var(--active-tab-color);
    border-bottom-color: var(--body-background);
    &:hover{
        color: var(--active-tab-color);
    }
}

// Non-active tabs
.nav-link:not(:active){
    isolation: isolate;
    border-color: var(--bs-nav-tabs-link-hover-border-color);
    &:hover{
        color: var(--inactive-tab-hover-color);
    }
}

// The latest badge in the dropdown menu
.latest {
    margin-left: 5px;
}