@use "sass:map";

@import "_defaults";

// Bootstrap element style overrides

.dropdown-item.active {
    background-color: rgba(80,90,114,0.1);
    color: #212529;
}

.badge.rounded-pill.latest {
    background-color: $froly;
}

a.dropdown-item {
    text-decoration: none;
    &:visited {
        color: #212529;
    }
}

.btn:hover{
    text-decoration: none;
}

.nav-link {
    color: var(--body-font-color);
}

.nav-link.active{
    color: $froly !important;
}

.nav-link:not(:active){
    isolation: isolate;
    border-color: var(--bs-nav-tabs-link-hover-border-color);
    &:hover{
        color: $aquarius;
    }
}

.latest {
    margin-left: 5px;
}