{{- if not (.Get "src") -}}
{{ errorf "\n\nNo src for {{< img >}} tag on %s \n\n\n" .Position }}
{{ end }}

{{- if not (.Get "alt") -}}
{{ errorf "\n\nNo alt for {{< img >}} tag on %s \n\n\n" .Position }}
{{ end }}

{{ $source := resources.Get (printf "content/%s%s" .Page.File.Dir (.Get "src")) }}
{{ $customAlt := .Get "alt" }}
{{ $customSize := .Get "size" | default "small" }}
{{ $lazyLoad := default (default true $.Site.Params.GeekdocImageLazyLoading) (.Get "lazy") }}

{{ with $source }}
  {{ $caption := default .Title $customAlt }}

  {{ $xtiny := (.Resize "150x webp q75").Permalink }}
  {{ $tiny := (.Resize "320x webp q75").Permalink }}
  {{ $small := (.Resize "600x webp q75" ).Permalink }}
  {{ $medium := (.Resize "1200x webp q75" ).Permalink }}
  {{ $large := (.Resize "1800x webp q75" ).Permalink }}

  {{ $size := dict "xtiny" $xtiny "tiny" $tiny "small" $small "medium" $medium "large" $large }}

  <div class="flex justify-center">
    <figure class="gdoc-markdown__figure">
      <a class="gdoc-markdown__link--raw" data-lightbox="{{ .Permalink }}" href="{{ .Permalink }}">
        <picture>
          <source
            {{ with $customSize }}
              srcset="{{ index $size $customSize }}"
            {{ else }}
              srcset="{{ $size.small }} 600w, {{ $size.medium }} 1200w" sizes="100vw"
            {{ end }}
          />
          <img
            {{ if $lazyLoad }}
              loading="lazy"
            {{ end }}
            src="{{ $size.large }}"
            alt="{{ $caption }}"
          />
        </picture>
      </a>
      {{ with $caption -}}
        <figcaption>
          {{ . }}{{ with $source.Params.credits }}({{ . | $.Page.RenderString }}){{ end }}
        </figcaption>
      {{- end }}
    </figure>
  </div>
{{ end }}


