//
// Bootstrap docs content theming
//

body {
  letter-spacing: 0.33px;
  scroll-behavior: smooth;
}

.bd-content {
  font-size: $body-font-size;
  line-height: 1.8em;

  code {
    background-color: var(--code-background);
    color: var(--code-color);
    padding: 0.2em 0.4em;

  }

  a {
    text-decoration: none;
    color: var(--content-link-color);

    &:hover{
      text-decoration: underline !important;
    }

    &:visited {
      color: var(--content-link-color);
    }

  }

  // Offset content from fixed navbar when jumping to headings
  & :target {
    padding-top: 5rem;
    margin-top: -5rem;
  }

  > h2:not(:first-child) {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  > h3 {
    margin-top: 2rem;
  }

  > ul li,
  > ol li {
    margin-bottom: .25rem;

    // stylelint-disable selector-max-type, selector-max-compound-selectors
    > p ~ ul {
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
    // stylelint-enable selector-max-type, selector-max-compound-selectors
  }

  // Override Bootstrap defaults
  > .table,
  > .table-responsive .table {
    margin-bottom: 1.5rem;
    @include font-size(.875rem);

    @include media-breakpoint-down(lg) {
      &.table-bordered {
        border: 0;
      }
    }

    thead {
      border-bottom: 2px solid currentcolor;
    }

    tbody:not(:first-child) {
      border-top: 2px solid currentcolor;
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 1.5rem;
      }
    }

    // Prevent breaking of code
    // stylelint-disable-next-line selector-max-compound-selectors
    th,
    td:first-child > code {
      white-space: nowrap;
    }
  }
}

.table-options {
  td:nth-child(2) {
    min-width: 160px;
  }
}

.table-options td:last-child,
.table-utilities td:last-child {
  min-width: 280px;
}

.bd-title {
  @include font-size(2rem);
  font-weight: 600;
}

.bd-lead {
  @include font-size(1.5rem);
  font-weight: 300;
}

.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

