//
// Bootstrap docs content theming
//

body {
  letter-spacing: 0.33px;
  scroll-behavior: smooth;
}

.bd-content {
  font-size: $body-font-size;
  line-height: 1.8em;

  code {
    background-color: var(--code-background);
    color: var(--code-color);
    padding: 0.2em 0.4em;
  }

  a {
    text-decoration: none;
    color: var(--content-link-color);

    &:hover, code{
      text-decoration: underline !important;
      color: var(--content-link-color);
    }

    &:visited {
      color: var(--content-link-color);
    }

  }

  // Offset content from fixed navbar when jumping to headings
  & :target {
    padding-top: 5rem;
    margin-top: -5rem;
  }


}

.bd-title {
  @include font-size(2.25rem);
  font-weight: 600;
}


.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

blockquote {
  border-left: 3px solid var(--dropdown-border-color) !important;
  padding-left: 1rem !important;
  background: var(--nav-highlight-color) !important;
  line-height: 1.5rem;
  font-size: 1rem
}

h1,h2,h3,h4,h5,h6 {
  padding-top: 1rem;

  &.accordion-header {
    padding-top: 0 !important;
  }
}


.table {
  color: var(--font-body-color);
  // Override bootstrap defaults to support dark mode
  --bs-table-hover-color: var(--font-body-color);
  --bs-table-hover-bg: var(--nav-highlight-color);
}

.ga-tag{
  color: var(--toc-font-color);

}