.search {
  background-color: rgba(73, 80, 87, 1);

  svg {
    color: white;
  }

  input, ::placeholder{
    background-color: rgba(73, 80, 87, 1);
    color: #bcbcba;
    border: none;
  }

  input {
    // width: 100%;
    padding: 0.25rem;
    padding-left: 1rem;
  }
  // &::after {
  //   display: block;
  //   content: "";
  //   clear: both;
  // }

}

.gdoc-search__list,
.gdoc-language__list {
  background: var(--body-background);
  //border-radius: $border-radius;
  //box-shadow: 0 1px 3px 0 var(--accent-color), 0 1px 2px 0 var(--accent-color-lite);
  position: absolute;
  margin: 0;
  padding: .5rem !important;
  list-style: none;
  top: calc(100% + 0.5rem);
  z-index: 2;
}

.gdoc-search {
  position: relative;
  box-shadow: 0.2px 0.3px 0.3px hsl(0deg, 0%, 0% / 0.50);


  svg{
    filter: brightness(4);
  }

  &:hover{
    box-shadow: 0.5px 1.0px 1.0px hsl(0deg, 0%, 0% / 0.49);
  }

  svg.gdoc-icon {
    position: absolute;
    left: 0.5rem;
    color: rgba(73, 80, 87, 1);
    width: 1rem;
    height: 1rem;
  }

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    padding-left: 2rem;

    //border: $border-1 solid var(--accent-color);
    //border-radius: $border-radius;

    //background: var(--accent-color-lite);
    //color: var(--body-font-color);

    &:required + &__spinner {
      display: block;
    }
  }

  &__spinner {
    position: absolute;
    margin: 0.5rem;
    right: 0;
    top: 0;

    width: 1rem;
    height: 1rem;

    // border: $border-1 solid transparent;
    // border-top-color: var(--body-font-color);
    border-radius: 50%;

    //@include spin(1s);
  }

  &__list {
    visibility: hidden;
    left: 0;
    width: 100%;

    ul {
      list-style: none;
      margin-top: 0.5rem;
      padding-left: 0;
    }

    li {
      margin: 0.25rem 0;
    }

    > li > span {
      font-weight: bold;
    }

    > li + li {
      margin-top: 0.5rem;
    }

    svg.gdoc-icon {
      margin-right: 0.25rem;
    }
  }

  &:focus-within &__list.has-hits,
  &__list.has-hits:active {
    visibility: visible;
  }
}