.bd-links-nav {
  margin-top: 1rem;
  font-size: .875rem !important;

  @include media-breakpoint-down(lg) {
    margin-top: 0 !important;
    font-size: 1rem !important;
  }

  .nav-container, .bd-links {
    margin: 0.35rem 0;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: transparent;
    padding-left: 10px;

    @include media-breakpoint-down(lg) {
      margin: .7rem 0 !important;
    }

    a {
      text-decoration: none !important;
      color: var(--body-color) !important;
    }

    &.active-parent {
      border-left-color: $brightSun !important;

    }
    &:hover, &.active {
      color: var(--body-color);
      border-left-color: $brightSun;
      background-color: var(--nav-highlight-color) !important;
    }
  }

  .sidebar-icon {
    display: none !important;
  }

  .sidebar-control-container {

    .sidebar-checkbox{
      display: none !important;

      &:not(:checked){

        & ~ label svg.sidebar-icon.plus {
          display: block !important;
        }
        & ~ label svg.sidebar-icon.x {
          display: none !important;
        }
      }
      &:checked{

        & ~ label svg.sidebar-icon.plus {
          display: none !important;
        }
        & ~ label svg.sidebar-icon.x {
          display: block !important;
        }
      }
    }
  }
}