// stylelint-disable scss/dollar-variable-default

//$bd-gutter-x: 3rem;
$bd-callout-variants: info, warning, danger !default;
$font-family-sans-serif:      "Avenir-Roman", "Avenir" !default;
$font-family-monospace:       "Consolas" !default;
$line-height-base:            1.8 !default;
$font-size-root:              18px !default;
$font-size-base:              1.125rem !default;
$body-font-size:              19px !default;


// New color variables are below. The previous color variable found at the bottom of this file will be translated to these or removed once these new colors have been applied to enough of the docs content.

// Grayscale palette. These are equivalent to varying opacities of the darkest shade over white (e.g. $fog-500 is equivalent to $fog-1000 at 50% opacity over white).
$fog-0:                     #FFFFFF !default;
$fog-25:                    #F9F9F9 !default;
$fog-50:                    #F2F3F3 !default;
$fog-75:                    #ECEDED !default;
$fog-100:                   #E6E7E7 !default;
$fog-150:                   #DADCDC !default;
$fog-200:                   #CDD0D0 !default;
$fog-300:                   #B4B8B8 !default;
$fog-400:                   #9BA1A1 !default;
$fog-500:                   #828A89 !default;
$fog-600:                   #697371 !default;
$fog-700:                   #505B59 !default;
$fog-800:                   #374442 !default;
$fog-850:                   #2A3836 !default;
$fog-900:                   #1E2C2A !default;
$fog-950:                   #12211F !default;
$fog-1000:                  #051513 !default;

// Colored palettes. Spectrums gradually transition into white with numbers below "-500" and transition into $fog-1000 on numbers after "-500".

// $Aqua-500 is the teal color pulled from the Crossplane popsicle logo. This is the primary color to be used for actions.
$aqua-25:                    #F5FDFB !default;
$aqua-50:                    #EAFAF8 !default;
$aqua-75:                    #E1F8F5 !default;
$aqua-100:                   #D7F6F1 !default;
$aqua-150:                   #C2F1EA !default;
$aqua-200:                   #AEECE3 !default;
$aqua-300:                   #86E3D6 !default;
$aqua-400:                   #5DD9C8 !default;
$aqua-500:                   #35D0BA !default;
$aqua-600:                   #2BAA99 !default;
$aqua-700:                   #228578 !default;
$aqua-800:                   #186055 !default;
$aqua-850:                   #134E45 !default;
$aqua-900:                   #0F3B34 !default;
$aqua-950:                   #092824 !default;

// $Grass-500 is the middle-point between $Aqua-500 and $Sun-500.
$grass-100:                   #EBF5E5 !default;
$grass-200:                   #D7ECCA !default;
$grass-300:                   #C2E2B0 !default;
$grass-400:                   #AED995 !default;
$grass-500:                   #9ACF7B !default;
$grass-600:                   #7CAA66 !default;
$grass-700:                   #5E8452 !default;
$grass-800:                   #41603C !default;
$grass-900:                   #233A28 !default;
$grass-950:                   #14271D !default;

// $Sun-500 is pulled from the Crossplane popsicle logo.
$sun-25:                    #FFFCF5 !default;
$sun-50:                    #FFFAEB !default;
$sun-75:                    #FFF8E2 !default;
$sun-100:                   #FFF5D8 !default;
$sun-150:                   #FFF0C4 !default;
$sun-200:                   #FFEBB1 !default;
$sun-300:                   #FFE18A !default;
$sun-400:                   #FFD763 !default;
$sun-500:                   #FFCD3C !default;
$sun-600:                   #CDA834 !default;
$sun-700:                   #9B832C !default;
$sun-800:                   #695F23 !default;
$sun-850:                   #504D1F !default;
$sun-900:                   #373A1B !default;
$sun-950:                   #1E2817 !default;

// $Tangerine-500 is the middle-point between $Sun-500 and $Salmon-500.
$tangerine-100:                   #FEEDDE !default;
$tangerine-200:                   #FDDBBE !default;
$tangerine-300:                   #FBCA9D !default;
$tangerine-400:                   #FAB87D !default;
$tangerine-500:                   #F9A65C !default;
$tangerine-600:                   #C8894E !default;
$tangerine-700:                   #976C3F !default;
$tangerine-800:                   #674F30 !default;
$tangerine-900:                   #363221 !default;

// $Salmon-500 is pulled from the Crossplane popsicle logo.
$salmon-25:                    #FEF9F8 !default;
$salmon-50:                    #FEF2F2 !default;
$salmon-75:                    #FDECEB !default;
$salmon-100:                   #FDE6E5 !default;
$salmon-150:                   #FBD9D7 !default;
$salmon-200:                   #FACCCA !default;
$salmon-300:                   #F8B3B0 !default;
$salmon-400:                   #F59995 !default;
$salmon-500:                   #F3807B !default;
$salmon-600:                   #C36A66 !default;
$salmon-700:                   #945552 !default;
$salmon-800:                   #64403C !default;
$salmon-850:                   #4C3632 !default;
$salmon-900:                   #352B28 !default;
$salmon-950:                   #1D201E !default;


$aquaMarine:                #3de2cb !default;
$aquarius:                  #37ccb7 !default;
$fillBlackBlack:            #183b56 !default;
$redPrimary:                #ff4f52 !default;
$slate:                     #505a72 !default;
$linkWater:                 #D3E7F7 !default;
$nileBlue:                  #183d54 !default;
$bayOfMany:                 #215373 !default;
$turquoise:                 #35d0ba !default;
$brightSun:                 #ffcd3c !default;
$froly:                     #f3807b !default;
$blueBayoux:                #5A7184 !default;

$navbar-background-color:   #{$fog-1000} !default;
$navbar-link-color:         #{$fog-0} !default;
$navbar-link-color-hover:   #{$fog-200} !default;
$navbar-link-font-size:     17px !default;
$navbar-link-padding-left:  16px !default;
$navbar-link-padding-right: 16px !default;
$navbar-background:         #{$fog-1000} !default;

$body-font-weight:          normal !default;
$body-min-width:            20rem !default;
$body-font-size:            18px !default;

$color-admonition-background: transparent;

:root {
  font-size: $font-size-root;
}