@mixin dark-mode {
    // body and content
    --body-background: #{$fog-1000};
    --body-font-color: #{$fog-0};
    --content-link-color: #{$aqua-400};
    --anchor-link-color: #{$fog-400};

    // Single code lines inside text. Code blocks are in _code_theme_dark.scss
    --code-background: #{$fog-900};
    --code-color: #{$fog-300};
    --code-line-number-color: #{$aqua-300};

    //Tabs
    --nav-tab-background-color: var(--body-background);
    --active-tab-color: #{$aqua-400};
    --inactive-tab-hover-color: #{$fog-0};

    // Sidebar nav
    --nav-highlight-color: #{$aqua-950};
    --btn-close-color:     #{$fog-0};

    //Version dropdown
    --dropdown-highlight: #{$fog-900};
    --dropdown-background: var(--body-background);
    --latest-pill-background: #{$fog-800};
    --latest-pill-color: #{$fog-200};
    --dropdown-color: var(--body-font-color);
    --dropdown-border-color: #{$fog-900};

    //Right-side table of contents
    --toc-font-color: #{$fog-400};
    --toc-mobile-menu-outline: #{$fog-800};
    --toc-mobile-menu-background: #{$fog-1000};

    //hint boxes
    --hint-important:       #{$tangerine-700}; //"exclamation",
    --hint-important-background: #{$tangerine-900};

    --hint-warning:         #{$salmon-700}; //"fire",
    --hint-warning-background: #{$salmon-900};

    --hint-tip:             #{$grass-700}; //"check",
    --hint-tip-background: #{$grass-900};

    --hint-note:            #{$fog-700}; //"info",
    --hint-note-background:  #{$fog-900};

    //Search Related
    --search-box-background: var(--body-background);
    --result-path: var(--body-background);

    // Add border to top nav and footer
    .docs-navbar {
        border-bottom: 1px solid #{$fog-850};
    }
    .bd-footer {
        border-top: 1px solid #{$fog-850};
    }
}