{% include values.inc %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Crossplane</title>

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="https://crossplane.io" />
    <meta name="twitter:title" content="Crossplane" />
    <meta name="twitter:description" content="Compose cloud infrastructure and services into custom platform APIs" />
    <meta name="twitter:image:src" content="https://crossplane.io/images/twitter-card_400x400.jpg" />

    {% include favicon.html %}

    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}" />
  {% if page.stylesheet %}
    <link rel="stylesheet" href="{{ "/css/" | append: page.stylesheet | append: ".css" | relative_url }}" />
  {% endif %}
  </head>

  <body>
    {% include header.html %}
    <div id="content">{{ content }}</div>
    {% include footer.html %}
    {% include google-analytics.html %}
    {% include hubspot.html %}
  </body>
</html>
