{% include values.inc %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Crossplane</title>

    {% include favicon.html %}

    <link rel="stylesheet" href="/css/main.css" />
  {% if page.stylesheet %}
    <link rel="stylesheet" href="/css/{{page.stylesheet}}.css" />
  {% endif %}
  </head>

  <body>
    {% include header.html %}
    <div id="content">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
