name: Run htmltest and validate links

on:
  pull_request:
    paths:
      - 'content/**'
      - 'themes/**'

  # Allows manual workflow run (must in default branch to work)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the docs repo
        uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.119.0'
          extended: true

      - name: Build
        # Set to env=dev so SCSS isn't required.
        run: hugo --environment development

      - name: Run htmltest
        uses: wjdp/htmltest-action@master
        with:
          config: ./utils/htmltest/.htmltest.yml
